@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 248 253 255;
    --foreground: 210 29% 13%;

    --card: 0 0% 100%;
    --card-foreground: 210 29% 13%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 29% 13%;

    --primary: 210 84% 47%;
    --primary-foreground: 0 0% 100%;
    --primary-hover: 210 84% 42%;

    --secondary: 144 61% 44%;
    --secondary-foreground: 0 0% 100%;
    --secondary-hover: 144 61% 39%;

    --muted: 210 24% 96%;
    --muted-foreground: 210 11% 46%;

    --accent: 48 96% 85%;
    --accent-foreground: 26 83% 14%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --success: 144 61% 44%;
    --success-foreground: 0 0% 100%;

    --warning: 43 96% 56%;
    --warning-foreground: 26 83% 14%;

    --info: 210 84% 47%;
    --info-foreground: 0 0% 100%;

    --border: 214 31% 91%;
    --input: 214 31% 91%;
    --ring: 210 84% 47%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 210 29% 10%;
    --foreground: 210 24% 96%;

    --card: 210 29% 13%;
    --card-foreground: 210 24% 96%;

    --popover: 210 29% 13%;
    --popover-foreground: 210 24% 96%;

    --primary: 210 84% 52%;
    --primary-foreground: 0 0% 100%;
    --primary-hover: 210 84% 47%;

    --secondary: 144 61% 49%;
    --secondary-foreground: 0 0% 100%;
    --secondary-hover: 144 61% 44%;

    --muted: 210 24% 17%;
    --muted-foreground: 210 11% 71%;

    --accent: 48 96% 20%;
    --accent-foreground: 48 96% 85%;

    --destructive: 0 84% 65%;
    --destructive-foreground: 0 0% 100%;

    --success: 144 61% 49%;
    --success-foreground: 0 0% 100%;

    --warning: 43 96% 61%;
    --warning-foreground: 26 83% 14%;

    --info: 210 84% 52%;
    --info-foreground: 0 0% 100%;

    --border: 210 24% 17%;
    --input: 210 24% 17%;
    --ring: 210 84% 52%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}